:root{
    --primary:tomato;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    user-select: none;
}
body{
    background-image: url(../assets/archLogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #353535;
    height:100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    position: relative;
    overflow: hidden;
}
/*------------------------- WIDGETS -------------------------------*/
.dateWidget{
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.8px);
    -webkit-backdrop-filter: blur(11.8px);
    border: 1px solid rgba(255, 255, 255, 1);
    position: absolute;
    padding:20px;
    top:5vh;
    right:3vw;
    font-size:1.5rem;
    color:white;
    font-weight: bold;
}
/*------------------------- PROGRAMS ------------------------------*/
.programs{
    position: absolute;
    top:5vw;
    left:2vw;
    /* height:80%; */
    display: grid;
    gap:20px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
.program{
    width:auto;
    margin:auto;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.program:hover,
.program:focus{
    opacity: 0.8;
}
.program:active{
    opacity: 0.6;
}
.program img{
    padding:10px;
    width:100px;;
    aspect-ratio: 1;
    object-fit: cover;
} 
.program h1{
    color:white;
}
/*------------------------- TASK BAR ------------------------------*/
.taskBar{
    z-index: 10;
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius:15px 15px 0 0;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 1);
    border-bottom: none;
    height:100px;
    position: absolute;
    bottom:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.OSKey{
    /* border-right:3px solid black; */
    height: 100%;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.OSKey:hover,
.OSKey:focus{
    background-color:var(--primary);
}
.OSKey:active{
    opacity: 0.7;
}
.tasks{
    height: 100%;
    display: flex;
    align-items: center;
    gap:8px;
}
.task{
    height: 100%;
    padding: 10px;
    aspect-ratio: 1;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius:5px;
}
.task:hover,
.task:focus{
    background-color:var(--primary);
}
.tasks .task:active{
    opacity: 0.7;
}
.task.isActive{
    background-color:var(--primary);
}
/*=================== SETTINGS ========================*/
.settings{
    /* border-left:3px solid black; */
    height: 100%;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.settings:hover,
.settings:focus{
    background-color:var(--primary);
}
.settings:active{
    opacity: 0.7;
}


/*------------------------- WINDOW ------------------------------*/
.window{
    z-index: 9;
    position: absolute;
    width:50%;
    height:60%;
    background-color: tomato;
    border-radius:10px;
    overflow: hidden;
    transform: translateX(-200%); /*when loading*/
}
.titleBar{
    position: absolute;
    top:0;
    height:35px;
    width:100%;
    background-color: #d7dee9;
    cursor: pointer;
    cursor:grab;
    display: flex;
    align-items: center;
}
.titleBar:active{
    cursor:grabbing;
}
.titleBar button{
    width:20px;
    aspect-ratio: 1;
    border:none;
    border-radius: 100%;
    cursor: pointer !important;
    margin-left:10px;
    position: relative;
}
.titleBar button:hover{
    opacity:0.8;
}
.closeButton{
    background-color: red;
}
.closeButton::after{
    content: "X";
    display: block;
    font-weight: bold;
    position: absolute;
    top:50%;
    left:52%;
    transform:translate(-50%,-50%);
    opacity: 0;
    transition: opacity 0.2s;
}

.hideButton{
    background-color: yellowgreen;
}
.hideButton::after{
    content: "";
    height:2px;
    width:7px;
    background-color: black;
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity: 0;
}
.hideButton:hover::after,
.closeButton:hover::after{
    transition-duration: 0.2s;
    opacity: 1;
}
.closeButton:active::after ,
.hideButton:active::after{
    opacity:0;
}

/*------------------------- ANIMATIONS ------------------------------*/
@keyframes closeWindow{
    0%{
        display:block;
        transform: scale(1);
    }
    100%{
        transform: scale(0);
        display:none;
    }
}
@keyframes openWindow{
    0%{
        display: none;
        transform: translateY(-300%) scale(0.5);
    }
    100%{
        display: block;
        transform:  scale(1);
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}
@keyframes slideUp {
    from{}
    to{ 
        transform:translateY(-100%);
        display: none;
    }
}
@keyframes pulse {
    0%,100%{
        box-shadow:none;
    }50%{
        box-shadow:0 0 300px 100px purple;
    }
}
/*------------------------- TERMINAL ------------------------------*/
.terminal__window{
    background-color: #2D0922;
}
.folder__window{
    background-color: orange;
}
.browser__window{
    background-color: cyan;
}
/*------------------------- LOADING SCREEN------------------------------*/
.loadingScreen{
    z-index:1000;
    position: fixed;
    height:100vh;
    width: 100vw;
    background-color: black;
    animation:slideUp 1s 5s forwards;
}
.loadingScreen img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:20vw;
    aspect-ratio: 1;
    border:none;
    padding: 10px;
    border:20px solid white;
    border-radius: 1000px ;
    animation: pulse 2s infinite forwards;
}